{{#partial "fondo-admin-cliente"}}
    <h2>ADMINISTRADOR / <a href=/clientes>Clientes</a> / {{idCliente}}</h2>
    {{#block "administracion-cliente"}}
    {{/block}}
{{/partial}}
{{>layouts/layoutGeneral.hbs}}