{{#partial "fondo-admin-cliente"}}
    
    <h2><a href=/clientes>Clientes</a><span style="color:#AAAAAA; pointer-events: none"> / {{idCliente}}</span></h2>
    
    {{#block "administracion-cliente"}}
    {{/block}}
    
{{/partial}}
{{>layouts/layoutGeneral.hbs}}