{{#partial "fondo-admin-cliente"}}
    
	<div class="container">
	    <ul class="nav nav-tabs" id="myTab" role="tablist">
	        <li class="nav-item">
	            <a class="nav-link active" id="perfil-tab" href="/perfil" role="tab" aria-selected="true">Perfil</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="clientes-tab" href="/clientes" role="tab" aria-selected="false">Clientes</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="transformadores-tab" href="/transformadores" role="tab" aria-selected="false">Transformadores</a>
	        </li>
	    </ul>
	</div>	
	
    {{#block "contenido-administrador"}}
    {{/block}}
    
{{/partial}}
{{>layouts/layoutGeneral.hbs}}