<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <input type="text" name="nombreUsuario" required/>
        <input type="password" name="contrasenia" required/>
        <button>Ingresar</button>
    </form>
</body>
</html>