<html>

<head>
	<title>404 Not Found</title>

	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/notFound.css" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>404</h1>
			<h2>Oops! La página no fue encontrada</h2>
			<p>La página que estas buscando no existe, fue removida o no esta disponible en este momento</p>
			<a href="/home">Ir a la página de inicio</a>
		</div>
	</div>
</body>

</html>