<html>

<head>
	<title>Pagina en Mantenimiento</title>

	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
	<link type="text/css" rel="stylesheet" href="/css/unimplemented.css" />
</head>

<body>
	<div id="mantenimiento">
		<div class="mantenimiento">
			<div class="mantenimiento-img"></div>
            <h1>Disculpa!</h1>
            <h2>Pagina en mantenimiento</h2>
			<p>Estaremos de vuelta dentro de poco </p>
			<a href="/home">Ir a la pagina de inicio</a>
		</div>
	</div>
</body>

</html>