{{#partial "contenido-administrador"}}

<form>
            <label style="display:block"><b>Mes a recomendar</b></label>
            <input type="month" name="periodo" value={{periodo}} required />
            <button class="btn btn-info"> Recomendarr </button>
        </form>


{{/partial}}
{{>layouts/layoutAdministrador.hbs}}